.site-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.frame{
    width: var(--container-lg-width);
    padding: 24px 15px;
}
@media screen and (max-width: 1025px) {
    .frame{
        width: var(--container-md-width);
    }
}
@media screen and (max-width: 769px) {
    .frame{
        width: var(--container-sm-width);
    }
}
@media screen and (max-width: 426px) {
    .frame{
        width: var(--container-sm-width);
    }
}
